<div class="share-body">
  <div class="account-nav">
    <p class="account-edit-title"><%= link_to "アカウント", user_path(@user) %></p>
    <p class="account-edit-title"><%= link_to "プロフィール", edit_user_path(@user) %></p>
  </div>
  <div class="account-edit-content">
    <div class="account-edit-content-box">
      <div class="account-edit-content-row">
        <p class="account-edit-content-element my-4">アカウント</p>
      </div>

      <div class="account-edit-content-row">
        <p class="account-edit-content-element my-5">メールアドレス</p>
        <p><%= @user.email %></p>
      </div>
      <div class="account-edit-content-row">
        <p class="account-edit-content-element my-5">パスワード</p>
        <p>
          ***********
        </p>
      </div>

      <div class="account-edit-content-row">
        <%= link_to "編集", edit_user_registration_path, class: "btn btn-primary account-edit-btn" %>
      </div>
    </div>
  </div>
</div>