<div class"top">
  <div class="top-main">
    <div class="top-container">
      <div class="form-frame">
        <%= form_with url: rooms_search_path, class: "form-area" do |f| %>
            <p class="form-area-title">Potepan Shareでまだ体験したことのない旅をしよう</p>
            <div>
              <%= f.label :address, "エリア" %>
              <%= f.search_field :address, placeholder: "東京", class: "form-control" %>
              <%= f.submit "探す", class: "btn btn-primary form-control" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>