<%= form_with url: rooms_search_path do |f| %>
    <h3>Potepan Shareでまだ体験したことのない旅をしよう</h3>
    <div">
      <%= f.label :address, "エリア" %>
      <%= f.search_field :address, placeholder: "東京" %>
      <%= f.submit "探す" %>
    </div>
<% end %>